{%- if settings.logo_text_enabled -%}
    <span>{{ settings.logo_text }}</span>
{%- else -%}
    {%- if settings.logo != blank -%}
        <img 
            src="{{ settings.logo | image_url | prepend: "https:" }}" 
            alt="{{ shop.name }}" 
            {% if settings.logo_width %}width="{{ settings.logo_width }}"{% endif %}
            style="max-width: 100%; height: auto;" 
            class="logo-image"
        />
    {%- else -%}                            
        <span>{{ settings.logo_text }}</span>
    {%- endif -%}
{%- endif -%}