
<div class="ps-section ps-neighborhoods" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
    <div class="container">
        <div class="ps-section__header">
            <h3 class="ps-section__heading">{{ section.settings.heading }}</h3>
        </div>
        <div class="ps-section__content">
            <div class="row">

                {%- for block in section.blocks -%}
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="ps-block--neighborhood">
                            <div class="ps-block__image">
                                {%- if block.settings.image != blank -%}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.heading }}" />
                                {%- else -%}
                                    {{ 'image' | placeholder_svg_tag }}
                                {%- endif -%}
                                <a class="ps-block__overlay" href="{{ block.settings.url }}" aria-label="{{ block.settings.heading }}"></a>
                            </div>
                            <div class="ps-block__content">
                                <h3><a href="{{ block.settings.url }}" aria-label="{{ block.settings.heading }}">{{ block.settings.heading }}</a></h3>
                                {{ block.settings.desc }}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.neighborhoods.name",
    "tag": "section",
    "class": "homepage-one",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Discover The Neighborhoods",
            "label": "t:sections.neighborhoods.settings.heading.label"
        },
        {
            "type": "header",
            "content": "Spacing Options"
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Margin Bottom",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "child-neighborhood",
            "name": "t:sections.neighborhoods.blocks.type.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.neighborhoods.blocks.type.image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:sections.neighborhoods.settings.heading.label"
                },
                {
                    "type": "textarea",
                    "id": "desc",
                    "label": "t:sections.neighborhoods.blocks.type.desc"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "t:sections.neighborhoods.blocks.type.url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Discover The Neighborhoods",
            "category": "Blog",
            "settings": {
                "heading": "Discover The Neighborhoods"
            }
        }
    ]
}
{% endschema %}